<!-- login -->
<section id="login">
    <div class="container mt-5">
        <h2>Login</h2>
        <form id="loginForm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="loginUsername" class="form-label">Nome de Usuário</label>
                <input type="text" class="form-control" id="loginUsername" required>
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Senha</label>
                <input type="password" class="form-control" id="loginPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <a type="button" class="btn btn-dark me-2 mb-1" href="/api/user/login42">Entrar Via 42</a>
        </form>
        <p class="mt-3">Não tem uma conta? <a href="/register" data-route="register">Registre-se aqui</a>.</p>
    </div>
</section>