<section id="game" class="container my-5">
    <h2 class="text-center mb-4"><span id="room-name-display"></span></h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <canvas class="bg-dark" id="gameCanvas" width="600" height="400"></canvas>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="alert alert-info my-1 py-1" role="alert" id="gameInstructions">
                <h4 class="alert-heading">Controles</h4>
                <p id="controls-message"></p>
            </div>
        </div>
    </div>
    <!-- Modal quando acontece Game Over(aparece o resultado do jogo e aopção de voltar para página inicial) -->
    <div class="modal fade" id="displayWinnerMessageModal" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultMessage"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="d-grid gap-2">
                        <div id="game-message"></div>
                        <button class="btn btn-primary" id="returnToHome">Retornar à página inicial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

