<!DOCTYPE html>
<html>
<head>
    <title>Meu Jogo</title>
    <style>
        #gameCanvas {
            width: 100%;
            height: auto;
            background-color: #000;
        }
    </style>
</head>
<body>
    <section id="game" class="container my-5">
        <h2 class="text-center mb-4"><span id="room-name-display"></span></h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <canvas id="gameCanvas" width="600" height="400"></canvas>
            </div>
        </div>
        <button id="exitButton" style="position: absolute; top: 10px; right: 10px; padding: 10px;">Sair do Jogo</button>
    </section>
</body>
</html>
