<section id="local-vs-friend" class="container my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center mb-4">Criar Sala</h2>
            <form id="players-nicknames">
                <div class="mb-3">
                    <h3 class="form-label">Nicknames dos Jogadores:</h3>
                    <div class="input-group">
                        <input type="text" class="form-control" id="nickname1" placeholder="Jogador 1" required>
                        <input type="text" class="form-control" id="nickname2" placeholder="Jogador 2" required>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Jogar</button>
                </div>
            </form>
        </div>
    </div>
</section>
