<!-- Login loader -->
<section id="loadingContainer" class="text-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div>
            <div class="spinner-border" role="status" id="loadingSpinner" style="display: none; width: 5rem; height: 5rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div>
            <h1 id="loadingText" style="display: none; margin-top: 1rem;">Carregando recursos, por favor aguarde...</h1>
        </div>
    </div>
</section>