<!-- Online Rooms Section -->
<section id="online-rooms">
    <div class="row">
        <div class="col-md-8">
            <h2>Salas Disponíveis</h2>
            <div class="list-group" id="roomsList">
                <!-- Salas dinamicas -->
            </div>
            <div id="noRoomsMessage" class="alert alert-info mt-3 d-none">
                Não há salas disponíveis no momento. Crie uma nova sala!
            </div>
        </div>
        <div class="col-md-4">
            <h2>Criar Sala</h2>
            <form id="createRoomForm">
                <button type="submit" class="btn btn-primary" id="create-rooms-button">Criar Sala</button>
            </form>
        </div>
    </div>
</section>