<!-- views/tournament.html -->
<section id="tournament" class="container my-5">
    <h2 class="text-center mb-4">Partidas {{ tournament.name }}</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group">
                {% for match in matches %}
                <li class="list-group-item">
                    {{ match.player1 }} vs {{ match.player2 }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="text-center mt-4">
        <button id="startTournamentButton" class="btn btn-primary">Jogar</button>
    </div>
</section>

<!-- Winner Modal -->
<div class="modal fade" id="winnerModal" tabindex="-1" aria-labelledby="winnerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="winnerModalLabel">Campeão do Torneio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="winnerName"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="backToHomeButton">Voltar a pagina inicial</button>
            </div>
        </div>
    </div>
</div>