<!-- views/tournament.html -->
<section id="tournament" class="container my-5">
    <h2 class="text-center mb-4"></h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center mt-4">
        <button type="button" id="startTournamentButton" class="btn btn-primary">Jogar</button>
        <button type="button" id="returnHomeButton" class="btn btn-primary" style="display: none;">Retornar ao home</button>
    </div>
</section>
